.title__profile{
    width: 98px;
    margin-top: 0.8rem;
    margin-left: 0.8rem;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

@media screen and (max-width:768px) {
    .title__profile {
        width: 25%;
        margin-right: 0.8rem;
        margin-bottom: 0.8rem;
    }
    
}
@media screen and (min-width:1024px) {
    .title__profile {
        width: 25%;
        margin-right: 0.8rem;
        margin-bottom: 0.8rem;
    }
    
}